<header class="site-nav">
  <a class="site-nav__brand" href="{{ '/' | relative_url }}">{{ site.name }}</a>
  <nav class="site-nav__links">
    <a href="{{ '/' | relative_url }}#about"><span class="idx">01</span>About</a>
    <a href="{{ '/' | relative_url }}#skills"><span class="idx">02</span>Skills</a>
    <a href="{{ '/' | relative_url }}#projects"><span class="idx">03</span>Projects</a>
    <a href="{{ '/' | relative_url }}#experience"><span class="idx">04</span>Experience</a>
    <a href="{{ '/' | relative_url }}#contact"><span class="idx">05</span>Contact</a>
  </nav>
</header>
